{{> head }}


    {{> navbar }}
    <div class="col-8">
        <h1> Sobre </h1>
        <p>
            Esta es una página de prueba hecha en node JS
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/desktop.png" class="img-thumbnail"/>
    </div>
    

{{> footer }}