{{> head }}
    {{> navbar }}
    <div class="col-8">
        <h1> About </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nesciunt exercitationem eaque? Perspiciatis, doloremque facilis aperiam necessitatibus maxime velit nobis perferendis! Ex illum aperiam cum distinctio necessitatibus accusamus architecto maxime!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/desktop.png" class="img-thumbnail"/>
    </div>
    

{{> footer }}